%nav
  %ul
    %li
      = home_link("Home")
    - @nav_items.each do |item|
      %li
        - if item == request.env['PATH_INFO'].split("/").last
          %span= item.capitalize
        - else
          %a{:href => "/#{item}/"}= item.capitalize