%h1 Don't worry!
%h2 Something has gone horribly wrong but it's probably my fault.

%p The page you were looking for wasn't there or I screwed up my code. Either way, there are plenty of other pages you can check out. 

