%h1 Don't worry!
%h2 Something has gone horribly wrong but it's probably my fault.

%p The page you were looking for wasn't there or I screwed up my code. Very sorry about that. Perhaps try returning to <a href="/">home</a>?
