- if @access_token.params[:user_id]
  %h2 Sign-up for Frypan
  %p 
    Hello
    %strong= "@" + @access_token.params[:screen_name]
- else
  %p Something went badly wrong. Hold me?

%form{:action => "/create/", :method => "post"}
  -# - if @user.error
  -#   %p.errors
  -#     = @user.error
  %ul
    %li
      %h3
        Where should we send your frypan emails?
    
    %li
      %label Email
      %input{:type => "text", :class => "text", :name => "user[email]", :value => @user.email}
      %span We won't sell it, promise. But we need it.

    %li
      %h3
        How do you want to login to Frypan?
      
    %li
      %label Password
      %input{:type => "password", :class => "text", :name => "user[password]", :value => @user.password}
    
    %li
      %span.quiet — or — 

    %li
      %label Open ID
      %input{:type => "text", :class => "text", :name => "user[openid]", :value => @user.openid}
      %span 
        %a{:href=>"http://openid.net/what/"} What is this?

    %li
      %label
      %input{:name => "submit", :type => "submit", :value => "Finish", :class => "button"}
      
