- @title = "Signup"

%h2 Sign-up for Conventions
%p
  Hello
  %strong= google_user.full_name

%form{:action => "/create/", :method => "post"}
  %ul
    %li
      %label{:for => "user_email"} Email
      %input{:type => "text", :class => "text", :id => "user_email", :name => "user[email]", :value => google_user.email}
      %span We won't sell it, promise. But we need it in case you forget your login details

    %li
      %label{:for => "user_homepage"} Homepage
      %input{:type => "text", :class => "text", :id => "user_homepage", :name => "user[homepage]"}
      %span Where's your home on the web?

    %li
      %input{:name => "submit", :type => "submit", :value => "Finish", :class => "button"}

