/****
Customised version of the definitive CSS reset
  Props to Eric Meyer (as always)
  http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
****/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {border: 0; font-family: inherit; font-size: 100.01%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline;}
:focus {outline: 0;}
body {background: #fff; color: #000; line-height: 1.26;}
ol, ul {list-style: none;}
table { border-collapse: separate; border-spacing: 0;}
caption, th, td {font-weight: normal; text-align: left;}
blockquote:before, q:before {content: open-quote;}
blockquote:after, q:after {content: close-quote;}
blockquote, q {quotes: "“" "”" "‘" "’";}
em {font-style: italic;}
strong {font-weight: 700;}

/* Makes HTML5 structural elements structural */
article, aside, footer, header, nav, section {display: block;}